<ion-card>
    <ion-card-header>
        <ion-card-title class="ion-text-center">{{ nomeDoInstrumento }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col>
                    <ion-button (click)="subtrair()" color="danger">
                        <ion-icon name="remove"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-img [src]="caminhoDaImagem"></ion-img>
                </ion-col>
                <ion-col>
                    <ion-button (click)="somar()" color="success">
                        <ion-icon name="add"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-text-center">
                <ion-col>
                    <ion-item class="ion-text-center">
                        <ion-label>{{ quantidade }}</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>