<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="relatorio" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Detalhes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="ion-text-center">
      Somas
    </ion-list-header>
    <ion-item>
      <ion-label>
        Cordas
      </ion-label>
      <ion-label class="ion-text-end">
        {{ totalDeCordas }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Madeiras
      </ion-label>
      <ion-label class="ion-text-end">
        {{ totalDeMadeiras }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Metais
      </ion-label>
      <ion-label class="ion-text-end">
        {{ totalDeMetais }}
      </ion-label>
    </ion-item>
  </ion-list>
  <canvas #barCanvas></canvas>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Quantidade</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>40 Músicos</ion-label>
      <ion-radio (click)="calcularTotalEsperado(40)" slot="start"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>60 Músicos</ion-label>
      <ion-radio (click)="calcularTotalEsperado(60)" slot="start"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>80 Músicos</ion-label>
      <ion-radio (click)="calcularTotalEsperado(80)" slot="start"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>100 Músicos</ion-label>
      <ion-radio (click)="calcularTotalEsperado(100)" slot="start"></ion-radio>
    </ion-item>
  </ion-radio-group>



</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button ion-button full (click)="abrirModalDoQrCode()">
          Gerar QR Code
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button ion-button full (click)="exportarPdf()">
          Exportar PDF
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="success" expand="full" (click)="voltarParaTelaInicial()">
    Tela Inicial
  </ion-button>
</ion-footer>