<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Instrumentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header text-center>
      <ion-label>Cordas</ion-label>
    </ion-list-header>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Violino" caminhoDaImagem="assets/images/violino.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Viola" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Violoncelo" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Madeiras</ion-label>
    </ion-list-header>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Flauta Transversal" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Oboé" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Oboé D'Amore" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Corne Inglês" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Clarinete" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Clarinete Alto" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Clarinete Baixo" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Fagote" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Saxofone Soprano" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Saxofone Alto" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Saxofone Tenor" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Saxofone Barítono" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Metais</ion-label>
    </ion-list-header>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Trompete / Cornet" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Flugelhorn" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Trompa" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Trombone / Trombonito" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Barítono" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Eufônio" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
    <ion-item>
      <app-instrumento nomeDoInstrumento="Tubas" caminhoDaImagem="assets/images/{imagem}.png" ></app-instrumento>
    </ion-item>
  </ion-list>
</ion-content>
