<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Instrumentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header text-center>
      <ion-label>Cordas</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Violino" caminhoDaImagem="assets/images/violino.png"></app-instrumento> </ion-label> 
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Viola" caminhoDaImagem="assets/images/viola.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Violoncelo" caminhoDaImagem="assets/images/violoncelo.png" ></app-instrumento> </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Madeiras</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Flauta Transversal" caminhoDaImagem="assets/images/flauta-transversal.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Oboé" caminhoDaImagem="assets/images/oboe.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Oboé D'Amore" caminhoDaImagem="assets/images/oboe-d-amore.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Corne Inglês" caminhoDaImagem="assets/images/corne-ingles.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Clarinete" caminhoDaImagem="assets/images/clarinete.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Clarinete Alto" caminhoDaImagem="assets/images/clarinete-alto.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Clarinete Baixo" caminhoDaImagem="assets/images/clarinete-baixo.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Fagote" caminhoDaImagem="assets/images/fagote.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Saxofone Soprano" caminhoDaImagem="assets/images/saxofone-soprano.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Saxofone Alto" caminhoDaImagem="assets/images/saxofone-alto.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Saxofone Tenor" caminhoDaImagem="assets/images/saxofone-tenor.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Saxofone Barítono" caminhoDaImagem="assets/images/saxofone-baritono.png" ></app-instrumento> </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Metais</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Trompete / Cornet" caminhoDaImagem="assets/images/trompete.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Flugelhorn" caminhoDaImagem="assets/images/flugelhorn.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Trompa" caminhoDaImagem="assets/images/trompa.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Trombone / Trombonito" caminhoDaImagem="assets/images/trombone.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Barítono" caminhoDaImagem="assets/images/baritono.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Eufônio" caminhoDaImagem="assets/images/eufonio.png" ></app-instrumento> </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <app-instrumento nomeDoInstrumento="Tuba" caminhoDaImagem="assets/images/tuba.png" ></app-instrumento> </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
