<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!integracaoDeDados" defaultHref="tela-inicial" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Histórico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="integracaoDeDados">


    <ion-grid *ngFor="let contagem of contagens">
      <ion-row class="ion-align-items-center">
        <ion-col size="1" >
          <ion-checkbox color="primary" (click)="adicionarContagemParaIntegracao(contagem)" ></ion-checkbox>
        </ion-col>
        <ion-col size="11">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ contagem.descricao }}</ion-card-title>
            </ion-card-header>
    
            <ion-card-content>
              {{ contagem.data | date: 'dd/MM/yyyy H:mm' }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
      
  </div>

  <div *ngIf="!integracaoDeDados">
    <ion-card *ngFor="let contagem of contagens" (click)="extrairRelatorio(contagem)">
      <ion-card-header>
        <ion-card-title>{{ contagem.descricao }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ contagem.data | date: 'dd/MM/yyyy H:mm' }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-button *ngIf="integracaoDeDados" expand="full" (click)="desativarIntegracaoDeDados()">
    Cancelar  
  </ion-button>
  <ion-button color="success" expand="full" (click)="ativarIntegracaoDeDados()">
    {{ integracaoDeDados ? 'Concluído' : 'Integrar contagens' }}  
  </ion-button>
</ion-footer>