<ion-content padding class="ion-text-center bg-class">
  <h1>
      Contador Orquestral
  </h1>
  <ion-card class="bg-card-class">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <p>Descrição</p>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-input
              [disabled]="!contagem?.finalizada"
              type="text"
              [(ngModel)]="descricao"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <p>Data</p>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-datetime
              [disabled]="!contagem?.finalizada"
              displayFormat="DD/MM/YYYY"
              [(ngModel)]="data"
              min="1994-01-11"
              max="2050-12-09"
            ></ion-datetime>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-button color="medium" (click)="historico()" style="margin-top: 50px;">
    <ion-icon slot="start" name="list"></ion-icon>
    Histórico
  </ion-button>
  <ion-button color="medium" (click)="escanearQrCode()" style="margin-top: 50px;">
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    Escanear QR Code
  </ion-button>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button color="success" (click)="iniciarContagem()">
    {{ contagem?.finalizada ? 'Iniciar' : 'Continuar' }}
  </ion-button>
</ion-footer>
